header{
    background: $color-secondary;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-height: 150px;
    font-family: 'Fjalla One', sans-serif;
    @include ipad-only{
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        text-align: center;
    };
    a{
        display: inline-block;
        padding: 20px;
    }
}