$color-primary: #223F51;
$color-secondary: #E7E0DA;
$color-tertiary: #675950;
$color-quaternary: #A6C5C3;
$blob: (
    blob1: 65% 35% 43% 57%,
    blob2: 67% 18% 82% 33%
);

@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fjalla+One&display=swap');
